* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Modifica o scroll*/
/*Firefox*/

* {
    scrollbar-width: 12px;
    scrollbar-color: orange orange;
}

:root {
    --color-green: #299d59;
}

/* Chrome, Edge e Safari */
::-webkit-scrollbar {
    width: 6px;
}

*::-webkit-scrollbar-track {
    background: #ff3333a9;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffffda;
    border-radius: 10px;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 3px;
    flex: 1 1 100vw;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 14px;
    overflow-x: hidden; 
}

p {
    font-size: 18px;
}

header, nav, main, aside, footer {
    display: flex;
    margin: 3px;
}

header {
    flex: 1 1 100vw;
    /*Aplicamos altura fixa para não apresentar rolamento vertical*/
    align-items: center;
}

header #logo {
    flex: 0 1 200px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 4px;
    margin-left: 20px;
    line-height: 1;
    border-left: 4px solid #bb3333;
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    display: none;
}

nav {
    flex: 1 1 100vw;
    align-items: center;
    justify-content: flex-end;
}

nav a {
    margin: 1%;
    font-size: 16px;
    color: #212121;
}

main {
    flex: 20 1 500px;
    background: #c8c8c83c;
     /*Aplicamos altura fixa para não apresentar rolamento vertical, 
    a altura aqui calcula-se subtraindo de 100% da altura vertical (100vh) a altura do 
    footer (100px) da header (100px) mais a margin ((3px + 3px)*4) aplicado em torno dos quatro elementos*/

    flex-wrap: wrap;
    overflow: auto;
}

main section {
    width: auto;
    height: 100vh;
    margin: 10px;
    /*background: linear-gradient(#9a9a9a, #5a5a5a, #1a1a1a);*/
}

aside {
    flex: 1 1 200px;
    
}

footer {
    flex: 1 1 100vw;
    height: 40px;
    width: 100vw; /*Aplicamos altura fixa para não apresentar rolamento vertical*/
    background: #bb3333;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.bunner {
    width: 100vw;
    height: 300px;
}

.bunner img {
    width: 100vw;
    height: 300px;
}

a {
    text-decoration: none;
    color: inherit;
}

main > h1 {
    padding: 10px 0px 0px 20px;
}

.container, .inner, .date-category, .content, .news {
    display: flex;
}

.container {
    flex-direction: column;
    padding: 10px;
}

.news {
    align-items: center;

    padding: 4px;
    gap: 4px;
}


.news > img {
    max-width: 200px;
    max-height: 185px;
    width: 200px;
    height: 185px;

    border-radius: 4px;
}

.inner {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.date-category {
    gap: 16px;
}

.date-category h3 {
    text-align: center;
    font-size: 12px;
}

.date, .category {
    padding: 4px 16px;
    border-radius: 4px;
}

.category {
    background: #eb2525bf;
    
    color: white;
    text-align: center;
    font-size: 14px;
}

.date {
    color: rgb(81, 80, 80);
    padding: 4px;
    border: 2px solid #eb2525bf;
    text-align: center;
    line-height: 1;
}

.content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}

.content a {
    font-size: 16px;
    color: rgba(179, 64, 64, 0.907);
}

.content a:hover {
    color: #d70808;
    text-decoration: underline;
    transition: .6s;
}

.content p {
    font-size: 16px;
    color: #545454;
}

.title {
    color: rgba(198, 7, 7, 0.907);
}

footer h2 {
    font-size: 16px;
    color: #e2e2e2;
}

#menu a {
    padding: 4px;
}

#menu a:not(#cantact):hover {
    color: white;
    background: #c60707f0;
    border-radius: 4px;
    transition: .8s;
}

header .strong {
    color: #299d59;
}

.categories ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 12px;
    margin: 24px;
}

.categories ul li {
    background: #d8d8d8;
    color: rgb(74, 74, 74);
    padding: 8px;
    border-radius: 4px;
}

.categories ul li:hover {
    cursor: pointer;
}


.categories {
    width: 100vw;
    display: none;
}

#contact {
    color: white;
    background: #c60707f0;
    border-radius: 4px;
}


/*
================================================
BUNNER CSS
================================================
*/

.bunner-content .slide-container .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.bunner-content .slide-container .slide .content-slider{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}


.bunner-content .slide-container .slide .content-slider h3{
    font-size: 35px;
    color: #e63c3c;
    font-family: 'Roboto', sans-serif;
}

.bunner-content .slide-container .slide .content-slider p{
    font-size: 16px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    width: 30%;
    height: 10%;
}

.bunner-content .slide-container .slide .content-slider .knowmore-btn {
    margin-top: 10px;
    display: inline-block;
    background: #e63c3c;
    color: #ffffff;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #e63c3c;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.bunner-content .slide-container .slide .content-slider .knowmore-btn:hover {
    background: #b02b2b;
    border: 2px solid #b02b2b;
    color: #ffffff;
}

.bunner-content .slide-container {
    display: none;
}

.bunner-content .slide-container.active {
    display: block;
}

.bunner-content .slide-container:nth-child(1) .slide{
    background: url(/assets/image/1.jpg);
    background-size:100vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: 425px;
    border-radius: 4px;
}

.bunner-content .slide-container:nth-child(2) .slide{
    background: url(/assets/image/3.jpg);
    background-size:100vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: 425px;
    border-radius: 4px;
}

.bunner-content .slide-container:nth-child(3) .slide{
    background: url(/assets/image/4.jpg);
    background-size:100vw;
    background-repeat: no-repeat;
    width: 100vw;
    height: 425px;
    border-radius: 4px;
}

.bunner-content #prev, 
.bunner-content #next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #ffffff;
    height: 40px;
    width: 40px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.bunner-content #prev img, 
.bunner-content #next img {
    width: 40px;
    height: 40px;
}

.bunner-content #prev{
    left: 20px;
}

.bunner-content #next{
    right: 20px;
}

.content-slider span {
    font-family: 'Roboto', sans-serif;
    color: white;
    display: block;
    background: linear-gradient(to right, #e63c3cc3, transparent);

    border-radius: 4px;
    padding: 4px 4px;
    margin: 32px 0px 12px 0px;
}



@media(max-width: 500px){
    .bunner-content #prev{
        left: 0px;
        top: 60%;
    }

    .bunner-content #next{
        right: 0px;
        top: 60%;
    }


    .bunner-content .slide-container .slide .content-slider p{
        font-size: 16px;
        color: #ffffff;
        font-family: 'Noto Sans', sans-serif;
        width: 70%;
        height: 10%;
    
    }
}
/*
================================================
END BUNNER CSS
================================================
*/

@media only screen and (max-width: 923px) {

    header {
        order: 0;
    }

    main {
        order: 1;
    }

    aside {
        flex: 1 1 100vw;
        height: 100px;
    }
    
    aside {
        order: 2;
    }

    footer {
        order: 3;                
    }
}

@media only screen and (max-width: 717px) {
    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu {
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 15px;
        top: 15px;
    }

    nav {
        position: fixed;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.8);
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: .3s;
    }
}